.gallery{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;  
}

.gallery img{
    border-color: black;
    border-style: solid;
    border-width: .05px;
    width: 30vw;
    height: auto;
}

h1{
    font-size: 5vh;
}


.banner{
    overflow: hidden;
    /* position: fixed; */
    left: 0;
    top: 0; 
    width: 100%;
    /*background: #333;*/
    background-color: rgb(156, 194, 21);
   
}

.banner marquee{
    font-size: large;
}
 


article{
    width: 65vw;
}